.jobdesc-list li {
  /* position: relative; */
  padding-left: 0.75rem;
  line-height: 1.3;
}

strong {
  color: var(--off-white);
}

.jobdesc-list li::marker {
  /* content: "\f0da"; FontAwesome Unicode */
  font-family: FontAwesome;
  color: var(--accent-1)
}

.exp-container .exp-card, #Projects .project-card {
  transition: opacity 150ms linear, background-color 100ms ease-in-out;
}

.exp-container:hover .exp-card, #Projects:hover .project-card {
  opacity: 0.65;
}

.exp-container .exp-card:hover, #Projects .project-card:hover {
  opacity: 1;
}

.exp-card {
  transition: all 200ms ease-in;
}

.project-card .link-icon {
  padding-left: 0.5rem;
  font-size: small;
  transform: translateY(-0.2rem);
  transition: transform 300ms var(--cb-snap-off);
}

.project-card:hover .link-icon {
  transform: translateY(-1rem);
  transition: transform 300ms var(--cb-snap-on);
}

.company-link .link-icon {
  padding-left: 0.3rem;
  font-size: x-small;
  transform: translateY(-0.1rem);
  transition: transform 300ms var(--cb-snap-off);
}

.company-link:hover .link-icon {
  transform: translateY(-0.7rem);
  transition: transform 300ms var(--cb-snap-on);
}
