main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-width: 100ch;
  margin: 0 auto;
  padding: 0 1rem;
  scroll-behavior: smooth;
}

section { 
  opacity: 1;
}

* {
  transition: opacity 300ms ease-in;
}

#Jovan {
text-decoration: none;
background-image: linear-gradient(var(--accent-1), var(--accent-1));
background-size: 0% 0.1em;
background-position-y: 100%;
background-position-x: 100%;
background-repeat: no-repeat;
transition: background-size 0.2s ease-in-out;
}

#FullName:hover #Jovan,
#FullName:focus #Jovan,
#FullName:active #Jovan {
background-size: 100% 0.1em;
background-position-x: 0%;
}


.section-header-pop-up {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  transition: top 500ms var(--cb-snap-off);
  margin-left: 1rem;
  padding-bottom: 2rem;
  transition-delay: 500ms;
}

.section-header-text {
  padding-bottom: 0.3rem;
  border-bottom: solid 2px var(--accent-1);
}

.exp-card {
  transition: all 200ms ease-in;
}

section:hover .section-header-pop-up {
  top: -4.5rem;
  transition: top 400ms var(--cb-snap-on);
  transition-delay: 0ms;
}

#Experience:hover .exp-card, #Projects:hover .project-card {
  opacity: 0.65;
}

#Experience .exp-card:hover, #Projects .project-card:hover {
  opacity: 1;
}
